In [1]:
import numpy as np
import pandas as pd

In [2]:
data={'Country':['India','USA','Japan','China','India','USA'],
      'Year':['2010','2010','2010','2015','2015','2015'],
      'Continent':['Asia','NA','Asia','Asia','Asia','NA'],
      'Value':[20,10,40,50,60,55]
     }

In [3]:
df=pd.dataframe(data)

AttributeError: module 'pandas' has no attribute 'dataframe'

In [4]:
df=pd.Dataframe(data)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [5]:
df=pd.DataFrame(data)

In [6]:
df

  Country  Year Continent  Value
0   India  2010      Asia     20
1     USA  2010        NA     10
2   Japan  2010      Asia     40
3   China  2015      Asia     50
4   India  2015      Asia     60
5     USA  2015        NA     55

In [ ]:
people1={'id':[1,2,3,4],
         'name':['ab','rf','kl','ed']
         'age':[45,25,41,30]
        }